#root {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.container {
  border: 1px black solid;
  max-width: 15vw;
  min-width: 15vw;
}

.personProfile {
  padding: 20px;
  display: fixed;
  margin-left: 0px;
  width: auto;
}

.header {
  position: absolute;
  width: stretch;
  border-bottom: none;
  right: 0;
  background-color: lightblue;
  padding: 0;
  align-content: right;
  z-index: 1;
}

.mainNavigation {
  position: static;
  width: 25vw;
  float: left;
}

.searchQuery {
  position: static;
  margin-right: 0;
  right: 0;
  float: right;
  min-height: auto;
  min-height: 100%;
}

#search-input {
  border-radius: 10px;
  height: 100%;
}

.item {
  position: fixed;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 10vh;
  margin-right: 5px;
}

.contentFeed {
  position: fixed;
  margin-left: 33vw;
  background-color: lightgreen;
  width: 27vw;
}

.peopleToFollow {
  position: relative;
  float: right;
  margin-left: auto;
  min-width: 20vw;
  max-width: 5vw;
  min-height: 700px;
  max-height: 1200px;
}

.personName {
  display: inline;
  position: relative;
  padding: 50px;
  width: 100%;
}

.butt {
  height: 5vh;
  width: 5vw;
  border-radius: 5px;
}

.butt2 {
  position: absolute;
  height: 3vh;
  width: 5vw;
  border-radius: 5px;
  right: 1vw;
  top: 3vh;
  bottom: 50;
  display: inline;
  text-size-adjust: inherit;
  border-radius: 25vh;
}

.ContentCompose {
  padding: 0;
  position: fixed;
  width: 23vw;
  border: 5px black solid;
  padding: 10px;
}

#compose-button {
  position: fixed;
  height: 8vh;
  width: 6vw;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
}

.contentList {
  position: relative;
  border: 1px solid black;
  min-height: 68vh;
  max-height: 50vh;
  max-width: 25vw;
  min-width: 25vw;
  align-items: center;
  left: 10px;
  right: 10px;
  background-color: darkorange;
  overflow: scroll;
  overflow-x: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
}

.personWidget {
  min-height: auto;
  max-height: auto;
  min-width: 25vw;
  max-width: 25vw;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: inherit;
  padding: 0;
}

.personBio {
  position: relative;
  height: 30vh;
  margin-top: -10vh;
  max-width: auto;
  min-width: auto;
  border: 1px solid black;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  overflow: hidden;
}

.personDetails {
  min-height: auto;
  max-height: auto;
  max-width: auto;
  min-width: auto;
  border: 1px solid black;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  position: relative;
  margin-top: -75px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 20%;
  background-blend-mode: multiply;
}

.personNumbers {
  margin-bottom: 10px;
}

.ThingField:active {
  border: 0px;
}

.ThingField:hover {
  border: 0px;
}

.personPhoto:hover {
  border-radius: 10px;
}

.personDetails:hover {
  opacity: 100%;
}

.ContentPerson {
  border: solid 1px black;
  border-radius: 20px;
  max-width: 33vw;
  min-width: 30vw;
  opacity: 50%;
}

.contentItem {
  position: relative;
  width: auto;
  border: 1px solid black;
  min-height: 100px;
  max-height: 100px;
  padding: 10px;
  align-items: center;
}

.pTFLabel {
  background-color: gainsboro;
  min-height: 4vh;
  max-height: 2vh;
  max-width: auto;
  min-width: auto;
  padding: 5px;
  border: 1px solid black;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.followEnclosure {
  min-height: 3vh;
  max-height: 3vh;
  min-width: vw;
  max-width: 5vw;
  right: 0;
}

.personToFollow {
  min-height: 10vh;
  max-height: 10vh;
  max-width: auto;
  min-width: 3vw;
  border: 1px solid black;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  position: relative;
}

.personPhoto {
  min-height: 75px;
  max-height: 75px;
  min-width: 75px;
  max-width: 75px;
  border-radius: 25vh;
}

.bioPhoto {
  width: 100%;
}

.bioPhotoContainer {
  min-height: 404px;
  max-height: 404px;
  min-width: 404px;
  max-width: 404px;
  width: auto;
  height: auto;
  box-shadow: right;
  position: relative;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.personBio {
  position: relative;
  overflow: hidden;
  min-height: auto;
  max-height: auto;
  max-width: 25vw;
  min-width: 25vw;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 50px;
}

.personBioLabel {
  position: relative;
  background-color: gainsboro;
  min-height: 4vh;
  max-height: 2vh;
  max-width: 30vw;
  min-width: 30vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ThingField {
  border-radius: 5px;
  width: 90%;
  margin: 0;
  height: 8vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
}

.PersonBackground {
  border-bottom: 1px solid black;
  height: inherit;
  max-width: auto;
  width: auto;
  border: inherit;
  overflow: hidden;
  border-radius: inherit;
}

.notReal {
  position: relative;
  display: flex;
  float: right;
  width: 75px;
  height: 75px;
  top: 0px;
  bottom: 0px;
  margin-left: 1vw;
  border: 0;
  border-radius: 20px;
}

.Content {
  display: relative;
  max-width: auto;
  margin-top: -50px;
  margin-bottom: 50px;
  margin-left: 100px;
}